#img-mobile {
	display: none;

	@media (max-width: 768px) {
		display: inline;
		width: 215px;
		height: 215px;
		overflow: hidden;
		margin-bottom: 50px;
	}
}
#about .ark {
	p {
		width: 75%;
		font-size: 1.35em;
		font-weight: normal;
		line-height: 2em;
	}
	ul {
		list-style: circle;
		margin-top: 5px;
		li {
			margin-top: 5px;
		}
	}
}
#skills .ark .tech {
	text-transform: uppercase;
}
.timeline .content p {
	line-height: 2em;
}
.ark {
	.title {
		color: $title-color;
		text-transform: uppercase;
		font-size: 1.7em;
		margin:0 0 50px 0;
	}
}
.parallax {
	background-image: url(../img/bgc-kdn.png);
	.title {
		color: #EEE;
		text-transform: uppercase;
		margin:0 0 50px 0;
	}
}
.fa.fa-phone {
	display: none;

	@media (max-width: 768px) {
		display: flex;
	}
}