// VARIAVEIS
$cor-principal: #6A358B;
$plano-fundo: #EEE;
$background-img: url(../img/background.png);
$background-footer: black;
$title-color: $cor-principal;
$transition: .3s;

@mixin link() {
	text-decoration: none;
}
@mixin link-hover() {
	color: $cor-principal;
}