#contato {
	text-align: center;

	.ark {
		.content-15 {
			@media (max-width: 768px) {
				text-align: center;
				flex-direction: column;
			}
			
			i {
				font-size: 2.5em;
			}

			a {
				text-decoration: none;

				&:link, &:visited{
					color: $cor-principal;
				}
				&:hover {
					color: gray;
					transition: color $transition;
				}
			}
		}
	}
}