.header {
	background-image: $background-img;
	justify-content: center;
	align-content: center;
	
	@media (max-width: 768px) {
		padding: 10px;
		.text-center {
			margin: 0 auto;
		}
	}

	.img-circle {
		border-radius: 50%;
		width: 180px;
		height: 180px;
		margin: 0 35% 0 0;
		z-index: 9999;

		@media (max-width: 768px) {
			display: none;
			margin: 0 auto;
		}
	}
}
.ribbon {
	background-image: $cor-principal;
}