// SKILLS
.content-skill {
    width: 100%;
    background-color: #DDD;
    box-shadow: 0 1px 4px 0 rgba(0,0,0,0.27);
}
.skills {
    text-align: right;
    padding-right: 20px;
    line-height: 20px;
    color: #FFF;
}
.html {width: 90%; background-color: #d1382b;}
.css {width: 85%; background-color: #0277bd;}
.sass {width: 80%; background-color: #cc6699;}
.bootstrap {width: 75%; background-color: #563d7c;}
.js {width: 70%; background-color: #fed73c;}
.php {width: 65%; background-color: #4f5b93;}
.java {width: 65%; background-color: #c00;}
.jquery {width: 60%; background-color: #076aad;}
.sql {width: 60%; background-color: #0072c6;}
.linux {width: 50%; background-color: #f90;}